TELEGRAM_USER_TOKEN=your_user_bot_token_here
TELEGRAM_ADMIN_TOKEN=your_admin_bot_token_here
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=ClusterName
MONGO_DB=bright_mind
REDIS_HOST=localhost
REDIS_PORT=6379
